:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
  }
* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */ 
@media (min-width: 768px) {
    .container {
      width: 750px;
      
      
    }
  }
  /* Medium */   /* for iphone x */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }

 
  
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* start header */
  header {
    position: relative;
    padding: 20px 0 50px 0;
    background-color: transparent;
    z-index: 1;
    /* left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    */ 
     
  }
  header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 25px 0 ;
    
  }
  header ul {
    display: inline;
    list-style: none;    
    
  }
  header ul li {
    display: inline;
    font-size: 15x;
   padding-bottom: 40px ;
  }
  header ul li a {
    padding-left: 15px;
    text-decoration: none;
    color: white;
    padding-bottom: 34px;
  }
  header ul li:first-child a {

     color: var(--main-color);
    border-bottom: var(--main-color) solid 1px;
  
  }
  header ul li a:hover {
    color: var(--main-color);
    border-bottom: var(--main-color) solid 1px;
  }

 header .left {
   display: flex;
   flex-direction: row;
   align-items: center;
   
 }
 hr {
  background-color: rgba(209, 209, 209, 0.658);
  border: 0;
  height: .5px;
 }
  header .left hr {
    display: inline-block;
    margin-right: 20px;
    background-color: white;
    margin-left: 20px;
    width: 1px;
    height: 30px;
  }
  header .left i {
    font-size: 19px;
    color: white;
  }
  header .left i:first-child {
    font-size: 25px;
    color: white;
    display: none;
  }
/* end header */
/* start landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative; 
}
.layer {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

}
.landing .content {
  position: relative;
  z-index: 1;
  margin-top: 25px;
}
.landing .box {
  background-color: var(--transparent-color);
  max-width: 750px;
  display: grid;
  grid-template-columns: 25% 75% ; 
  grid-template-rows: 230px;
  padding: 50px 50px 50px 25px; 
  align-items: center;
}
.landing .box i {
  font-size: 40px;
  color: white;
}
.landing .content .box .hello p {
  line-height: 2;
  padding-top: 20px;
  color: white;
}
.landing .content .box .hello h1 {
  color: white;
  font-weight: normal;
}
.landing .content i:last-child {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 145px;
  right: 30px;
}
.circles {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1%;
 
 
}
.circles div{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: white solid 1px;
  margin-left: 8px;
  background-color: transparent;
}
.circles div:nth-child(2){   
  background-color: var(--main-color);
}

@media (max-width: 768px) { 

  .landing .content i {
    display: none;
  }
  .landing .box {
  grid-template-columns: 1fr ; 
   }
   .landing .content {
    margin-top: -10px;
    z-index: 0;
  }
  header .left ul{
    display: none;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.7);
    width: 100%;
    left: 0;
    top: 50%;
    padding:0;
    
   }
   header .left ul li{ 
     display: block;
    padding: 15px 0 15px 15px;
    width: 100%
   } 
   header .left ul li a{ 
   padding: 15px 0;
    width: 100%;
    padding-right: 100%;
    
  }
  header .left i:first-child {
    display: inline-block;
  }

  header .left i:first-child:hover ~ ul , header .left ul:hover {
    display: block;
  }

}
/* end landing and header */
/* start services */
.services{
  padding: 130px 0 ;
}
 .title h1 {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  
}
 .title hr {
  width: 130px;
  background-color: black;
  height: 3px;
  border: none;
  margin: 20px auto;
}

.title div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid black;
  margin: auto;
  position: relative;
  top: -32px;
  
}
.title p {
  text-align: center;
  max-width: 550px;
  margin: auto;
  font-size: 17px;
  line-height: 38px;
  color:#777;
}
.services .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(450px,1fr)) ;
  column-gap: 40px;
  row-gap: 60px;
  padding-top: 100px ;
  
}
.services .grid .box {
  display: flex;
  
}


.services .grid div i{
padding-right: 50px;
font-size: 50px;


}
.services .grid div h4 {
  font-size: 20px;
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .grid div p {
  line-height: 35px;
  font-size: 15px;
  color: #777;
}
/* for small screens */
@media (max-width: 768px) { 
   .services .grid {
     display: flex;
     flex-direction: column;
     
   }
   .services .grid .box {
    display: block;
    text-align: center;
  }

  .services .grid div i{
    padding-right: 0px;
    padding-bottom: 20px;
    
    }
}
/* end services */
/* start design */
.design{
  height: 650px;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns:repeat(auto-fill,minmax(50%,1fr)) ;
  overflow: hidden;
  position: relative;
}
.design .layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
  position: absolute;
  z-index: 1;
}

.design .list-bg{
  background-color: var(--transparent-color);
  height: 350px;
  margin-top: 150px;
  padding: 50px;
  z-index: 2;
}
.design .list-bg h2 {
  padding-bottom: 40px;
  color: white;
  font-weight: normal;
}
.design .list-bg ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.design .list-bg ul li {
  padding-bottom: 30px;
  color: white;
}
.design .list-bg i {
  font-size: 20px;
  font-weight: bold;
  padding-right: 20px;
  color: white;
}
.design .mobile {
margin: auto;
margin-top: 250px;
z-index: 2;
}
/* for small screens */
@media (max-width: 768px) { 
  .design .mobile {
  display: none;
  }
  .design{ 
    grid-template-columns: 100%;
  }
}
/* end design */
/* start portfolio */
.portfolio {
  padding-top: 100px;
  padding-bottom: 50px;
}
.portfolio .words {
  margin: 100px auto 50px auto;
  width: fit-content;
  font-size: 18px;
}
.portfolio .words span{
  padding: 6px 8px;
}
.portfolio .words span:first-child{
  background-color: var(--main-color);
  text-align: center;
  color: white;
}
.portfolio .photos img {
  height: 99%;
  width: 100%;
  transition-duration: 0.5s;
 
}
.photos .pic {
  overflow: hidden;
  position: relative;
}
.portfolio .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(310px,1fr));

}
.portfolio a {
  background-color: var(--main-color);
  margin: 30px 47%;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  
}
.portfolio .photos .awsome {
  background-color: white;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: -100px;
  padding: 15px 20px;
  transition-duration: 0.3s;
}
.awsome span {
  font-size: 17px;
  display: block;
  padding-bottom: 12px;
}
.awsome span:nth-child(2){
  color: var(--main-color);
}
/* animation */
.portfolio .photos .pic:hover img {
  transform: scale(1.1) rotate(4deg);
  
  /* background-color: red; */
}
.portfolio .photos .pic:hover .awsome {
  bottom: 0;
}
/* end protfolio */
/* start video */
.video {
  width: 100%;
  position: relative;
  z-index: -1;
}
.video video {
  width: 100%;
  
}
.video .black {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.video .text2 {
  color: white;
  background-color: var(--transparent-color);
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 30px 0;
}
.video .text2 * {
  padding-bottom: 3%;
}

.video .text2 .h2 {
  font-weight: lighter;
}
.video .text2 a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 25px;

}
/* end video */
/* start about us */
.about{
  padding-top: 70px;
  height: 85vh;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.about .title {
  padding-bottom: 120px;
}
.about .image img {
  position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
  
}
/* end about */
/* start numbers */
.numbers {
  background-image: url(../images/stats.png);
  background-size: cover;
  height: fit-content;
  position: relative;
  z-index: -1;
  padding: 10% 0 65px 0;
 
}
.numbers::before{
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.numbers .num {
  padding-top: 30px;
  background-color: var(--transparent-color);
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  justify-content: space-between;
  text-align: center;
}
.numbers .num * {
  padding-bottom: 30px;
  color: white;
}
.numbers .num h1 {
  font-size: 48px;
}
.numbers .num .boxx {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.numbers .num .bg{
  background-color: black;
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}
.numbers .num i {
  font-size: 23px;
  padding-top: 10px;
  
}
/* end numbers */
/* start skills */
.skills {
  padding-bottom: 50px;
  height: 120vh;
}
.skills .cont {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  column-gap: 100px;
}
.skills .cont .right{
  height: 120vh;
}
.skills .cont .left{
 
  height: 120vh;
  position: relative;
}
.skills .cont .sub-text{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
}
.sub-text p {
  margin-top: 30px;
  line-height: 40px;
  color: #777;
  font-size: 18px;
}
.sub-text h3 {
  font-weight: lighter;
}
.skills .profile {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 20px;
}
.skills .profile .avatar img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  
}
.skills .profile .words {
  position: relative;
  
}
.skills .profile .words p {
  line-height: 30px;
}
.skills .profile .words p:last-of-type {
  direction: rtl;
  color: #777;
  padding: 5px 0;
  border: none;
}
.skills .profile .words hr {
 
  width: 100%;
  height: 1px;
  background-color: #777;
  
}
.skills .left .circles {
  bottom: 10%;
  
}
.skills .left .circles div{
  width: 15px;
  height: 15px;
  border: #777 solid 1px;
}
.skills .left .circles div:nth-child(2){   

border: transparent;
}
.skills .right .dgree {
  margin-bottom: 35px;
}
.skills .right .dgree h4 {
font-weight: lighter;
}
.skills .right .dgree div {
  display: inline-block;
  height: 30px;
 margin-top: 20px;
 position: relative;
}
.skills .right .dgree .one {
  background-color: var(--main-color);
  width: 90%;
}
.skills .right .dgree:nth-child(3) .one{
  width: 85%;
}
.skills .right .dgree:nth-child(4) .one{
  width: 80%;
}
.skills .right .dgree .one::after {
  content: "90%";
  background-color: black;
  color: white;
  position: absolute;
  right: -20px;
  top: -45px;
  width: 50px;
  height: 30px;
  text-align: center;
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.skills .right .dgree:nth-child(3) .one::after {
  content: "85%";
}
.skills .right .dgree:nth-child(4) .one::after {
  content: "80%";
}
.skills .right .dgree .two {
  float: right;
  background-color: #dedadc;
  width: 10%;
}
.skills .right .dgree:nth-child(3) .two{
  width: 15%;
}
.skills .right .dgree:nth-child(4) .two{
  width: 20%;
}
.skills .right .dgree .two::before { 
 content: ""; 
 width: 0px;
 height: 0px;
 /* background-color: black; */
 border: solid 10px;
 border-color: black transparent transparent transparent;
 position: absolute;
 top: -18px;
 left: -15px;
}
/* end skills */
/* start quote */
.quote {
  background-image: url(../images/quote.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  padding: 50px 0;
  position: relative;
  z-index: 1;
}
.quote h2 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 50px;
}
.quote::after{
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  right:0;
  top: 0;
  z-index: -1;

}
/* end quote */
/* start pricing */
.pricing{
  padding: 100px 0;
  text-align: center;
}
.pricing .pricee {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
  column-gap: 50px;
  row-gap: 50px;
  text-align: center;
  padding: 80px 0 100px 0;
  
}
.pricing .pricee .price * {
  margin-bottom: 20px;
}
.price h2 {
  font-weight: lighter;
}
.pricee .price h1 span {
  font-size: 60px;
}
.price sup {
  position: relative;
  top: -30px;
  left: -5px;
  font-weight: lighter;
}
.pricee .price h3 {
  font-weight: lighter;
  font-size: 15px;
}
.pricee .price hr {
  height: 1px;
  border: 0;
  margin: auto;
  background-color: var(--main-color);
}
.pricee .price hr:last-of-type {
  margin-bottom: 50px;
}
.pricee .price hr:nth-of-type(3) ,.price hr:nth-of-type(4), .price hr:nth-of-type(5) {
  width: 55%;
}
.pricee .price a {
  text-decoration: none;
  width: 50px;
  height: 30px;
  padding: 22px 20px;
  border: solid 1px var(--main-color);
}
.pricing .contact span {
  font-size: 22px;

}
.pricing .contact div {
  margin-top: 40px;
}
.pricing .contact a{
  text-decoration: none;
  background-color: var(--main-color);
  color: white;
  padding: 15px 25px;
  
}
/* end pricing */
/* start your email */
.your-email{
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  height: 30vh ;
  position: relative;
  z-index: 1;
}

.your-email * {
  display: inline-block;
}
.your-email::after{
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  right:0;
  top: 0;
  z-index: -1;
}
.your-email .emaill{
  position: absolute;
  top: 40%;
  left: 10%;
  max-width: 1500px;
}
.your-email .email {
  background-color: transparent;
  border: solid 1px white;  
  color: white;
  position: relative;
  top: 50%;
  width: 450px;
  height: 60px;
  left: 0;
}
.your-email .email input {
  width: 60%;
  height: 100%;
  background-color: transparent;
  border: 0;
  caret-color: var(--main-color);
  margin-left: 5px;
}
.your-email .email input::placeholder{
  color: white;
  font-size: 15px;
}
.your-email .email input:focus{
  outline: none;
  color: white;
}
.your-email .email i {
  margin-left: 15px;
}
.your-email .email div {
  color: white;
  position: absolute;
  width: 30%;
  right: 0;
  height: 100%;
  text-align: center;
  background-color: var(--main-color);
}
.your-email .email div a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding-top: 17px;
}
.your-email .email div a:hover {
cursor: default;
}
.your-email p {
  color: white;
  margin-top: 10px;
  font-size: 18px;
  max-width: 900px;
  padding-left: 20px;
}

/* end your email */
/* start contact us */
.contact-us {
  padding: 100px 0;
}
.contact-us .us {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 30px;
}
.contact-us .text {
  width: 30%;
  
}
.contact-us .form {
width: 70%;
position: relative;

}
.contact-us .form input , .form textarea {
  display: block;
  padding: 20px 10px;
  width: 100%;
  margin-bottom: 25px;
  font-size: 18px
}
.contact-us .form input:last-child {
  width: 160px;
  text-align: center;
  position: absolute;
  right: 0;
  background-color: var(--main-color);
  color: white;
  font-weight: lighter;
  border: 0;
  font-size: 15px;
}
.contact-us .form input::placeholder , .form textarea::placeholder {
  font-size: 16px;
}
.contact-us .form input:focus , .form textarea:focus {
outline: none;
}

.contact-us .text {
  padding-left: 50px;
}
.contact-us .text .text-one {
  margin-bottom: 100px;
}
.contact-us .text h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}
.contact-us .text p {
  margin-bottom: 10px;
  color: #777;
}
@media (max-width: 768px) { 
  .contact-us .us {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .contact-us .text {
    text-align: center;
  }
  .contact-us .text .text-one {
    margin-bottom: 50px;
  }
  .contact-us .form {
    width: 100%;
    margin-top: 50px;
  }
  
}
/* end contact us */
/* start footer */
.footer {
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  height: 52vh;
  position: relative;
}
.footer::after{
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  right:0;
  top: 0;
  z-index: 0;
}
.footer .data {
  text-align: center;
  color: white;
  padding-top: 70px;
  position: relative;
  z-index: 1;
}
.footer .data .text{
  margin: 40px 0;
  padding-bottom: 20px;
  
}
.footer .data .text h2 {
  font-weight: lighter;
}
.footer .data hr {
  height: 2px;
  width: 230px;
  margin: 25px auto;
}
.footer .data .text .social i:not(:first-child) {
  margin-left: 30px;

}
.footer .data .copy-rights span {
  color: var(--main-color);
}





/* end footer */
 /* Medium */   /* for iphone x */
/* i made this to don't make 3 element in same row 4 or 2 or 1 in the same row */
 @media (min-width: 940px) and (max-width:1257px) {
  
  .portfolio .photos {
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
  
  }
  .pricing .pricee {
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    
  }
  .numbers .num {
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
   }
}
